@model PMF_Team01_MVC.Models.RadViewModels.DodajKomentarVM

@{ 
    Layout = null;
}
<div class="row">
    <form>
        <div class="form-group" hidden>
            <input asp-for="@Model.RadId" value="@Model.RadId" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Sadrzaj">Content</label>
            <input type="text" asp-for="@Model.Sadrzaj" required title="This field cannot be empty!"></input>
        </div>
        <a class="btn btn-outline-danger" id="submitCommentBtn">Submit</a>

        </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    
    $('#submitCommentBtn').click(function () {
        $.ajax({
            type: 'POST',
            url: '/Rad/DodajKomentar',
            data: { id: @Model.RadId, sadrzaj: $('#sadrzajInput').val()},
            success: function (result) {
                $('#commentSectionDiv').html(result);
            }

        });

    });
    
</script>