@model PMF_Team01_MVC.Models.AccountViewModels.UpdatePasswordVM


<div class="row">
    <form class="col-md-8" asp-controller="Account" asp-action="UpdatePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" hidden>
            <input asp-for="@Model.Id" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.CurrentPassword"></label>
            <input asp-for="@Model.CurrentPassword" class="form-control" required />
            <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewPassword"></label>
            <input asp-for="@Model.NewPassword" class="form-control" required />
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="@Model.NewPasswordConfirm"></label>
            <input asp-for="@Model.NewPasswordConfirm" class="form-control" required/>
            <span asp-validation-for="@Model.NewPasswordConfirm" class="text-danger"></span>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-sm btn-outline-danger" value="Submit">
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}